.billing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(28rem, 100%), 1fr));
  align-items: center;
  gap: 1.8rem;
}

.billing__img img {
  margin: 0 auto;
  width: 70%;
}

.billing__stores img {
  width: min(40%, 12rem);
}

.billing__header > h2,
.billing__header > p {
  margin-bottom: 1.5rem;
}

.billing__stores {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

@media (min-width: 765px) {
  .billing__img img {
    margin: 0 auto 0 0;
    width: 85%;
  }

  .billing__stores {
    justify-content: start;
  }
}
