.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(34rem, 100%), 1fr));
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 6rem;
}

.hero__discount-card {
  display: flex;
  align-items: center;
  background: var(--discount-gradient);
  border-radius: 10px;
  padding: 0.4rem 0.7rem;
  width: fit-content;
  margin: 0 auto 1.5rem auto;
}

.hero__discount-description {
  font-size: clamp(1.4rem, 4vw, 1.6rem);
}

.hero__discount-card span {
  color: var(--white);
}

.hero__title {
  font-size: clamp(2.8rem, 3.2vw, 7.5rem);
  margin-bottom: 2rem;
}

.hero__header span {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__img {
  position: relative;
}

.gradient-blue,
.gradient-pink,
.gradient-white {
  position: absolute;
  opacity: 0.4;
  filter: blur(8rem);
}

.gradient-pink {
  z-index: 0;
  width: 40%;
  height: 35%;
  top: 0;
  background: var(--pink-gradient);
}

.gradient-white {
  z-index: 1;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: -5rem;
  right: 0;
  background: var(--white-gradient);
}

.gradient-blue {
  z-index: 0;
  width: 50%;
  height: 50%;
  right: 15rem;
  bottom: 2rem;
  background: var(--blue-gradient);
}

.hero__img img {
  z-index: 5;
  margin-left: auto;
  width: 70%;
}

@media (min-width: 765px) {
  .hero {
    margin-left: 10%;
  }

  .hero__discount-card {
    margin: 0 0 1.5rem 0;
  }

  .hero__img img {
    width: 85%;
  }
}
