.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(34rem, 100%), 1fr));
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 6rem;
}

.hero__discount-card {
  display: flex;
  align-items: center;
  background: var(--discount-gradient);
  border-radius: 10px;
  padding: 0.4rem 0.7rem;
  width: fit-content;
  margin: 0 auto 1.5rem auto;
}

.hero__card-description {
  font-size: clamp(1.4rem, 4vw, 1.6rem);
}

.hero__discount-card span {
  color: var(--white);
}

.hero__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__title {
  font-size: clamp(2.8rem, 3.2vw, 7.5rem);
  margin-bottom: 2rem;
}

.hero__description {
  font-size: clamp(1.6rem, 1vw, 1.8rem);
  width: min(70%, 40rem);
}

.hero__header span {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__img,
.hero__img img {
  position: relative;
}
}

.hero__img img {
  z-index: 5;
  display: block;
  margin-left: auto;
  height: auto;
  width: 70%;
}
}
