.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(29rem, 100%), 1fr));
  align-items: center;
}

.features__header > * {
  margin-bottom: 2.5rem;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: min(100%, 60rem);
  padding: 1rem;
  border-radius: 20px;
  margin-left: auto;
}

.features__item:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.features__item div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dim-blue);
  padding: 1rem;
  border-radius: 50%;
}

.features__item img {
  width: 2rem;
}
