#testimonials > .testimonials__header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
  justify-items: center;
  margin-bottom: 5rem;
}

.testimonials__header > * {
  margin-bottom: 2rem;
}

.testimonials__reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
  gap: 1rem;
  align-items: stretch;
  justify-items: center;
}

.testimonials__review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem 4rem;
  border-radius: 20px;
  width: min(100%, 40rem);
}

.testimonials__review:hover {
  background: var(--black-gradient);
}

.testimonials__quotes {
  width: min(10%, 5rem);
}

.testimonials__user-img {
  width: min(20%, 7rem);
}

.testimonials__user-name {
  color: var(--white);
}

.testimonials__user-title {
  font-size: 1.4rem;
}

.testimonials .testimonials__user-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.testimonials__user-info {
  display: inherit;
  flex-direction: column;
}

.testimonials__clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%), 1fr));
  align-items: center;
  justify-items: center;
  gap: 2.5rem;
  margin-top: 6rem;
}

.testimonials__clients img {
  width: 50%;
}

@media (min-width: 765px) {
  .testimonials__header > * {
    margin-bottom: 0;
  }

  .testimonials__title {
    justify-self: start;
    max-width: 15ch;
  }
}
