@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* Custom props */
:root {
  --primary-color: #00040f;
  --secondary-color: #00f6ff;
  --white: #ffffff;
  --dim-white: rgba(223, 223, 223, 0.7);
  --dim-blue: rgba(9, 151, 124, 0.1);
  --black-gradient: linear-gradient(144.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --black-gradient-2: linear-gradient(-168.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --gray-gradient: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101d 95.11%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --discount-gradient: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  --blue-gradient: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  --pink-gradient: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  --white-gradient: rgba(255, 255, 255, 0.6);
  --text-gradient: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  --blue-gradient-2: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.4rem;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility */
.blue-gradient {
  background: var(--blue-gradient);
  filter: blur(123px);
}

.pink-gradient {
  background: var(--pink-gradient);
  filter: blur(900px);
}

.white-gradient {
  background: var(--white-gradient);
  filter: blur(750px);
}

.text-gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 
screens:
small: 480px
small-1: 620px
small-2: 768px
medium: 1060px
large: 1200px
extra large: 1700px
*/
